#first_slide{
	background-color: #eb7347;
}
html.fsvs #fsvs-pagination{
	margin: 0;
	padding: 8px 4px;
	position: fixed;
	height: auto;
	top: 50%;
	z-index: 999;
	width: 32px;
}
html.fsvs #fsvs-pagination li{
	list-style: none;
	width: 25px;
	height: 25px;
	line-height:25px;
	text-align: center;
	margin: 0 0 2px 0;
	cursor: pointer;
}
li{
	display: list-item;
}
html.fsvs #fsvs-pagination li.active>span{
	border: 1px dashed white;
}
html.fsvs #fsvs-pagination li>span{
	    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
	border-radius: 100%;
	width: 22px;
	height: 22px;
	line-height: 22px;
	display:block
}
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
#fsvs-body #first_slide{
	background: url("image/main-page-2.jpg") repeat fixed 100% 0% / cover;
  text-align: center;
}
#fsvs-body #second_slide{
	background: url("image/main_page3.jpg") repeat 100% 0% / cover;
	text-align: center;
}
#second_slide .logoSeo{
	background: url("image/page2.png") no-repeat center center;
	background-size: contain;
	white-space: nowrap;
    width: 100%;
    height: 250px;
}
#fsvs-body #third_slide{
	background: url("image/mainPage4.jpg") repeat 100% 0% / cover;
}
#third_slide .logoSeo{
		background: url("image/page3.png") no-repeat center center;
	background-size: contain;
	white-space: nowrap;
    width: 100%;
    height: 250px;
}
#fsvs-body #forth_slide{
	background: url("image/main_Page5.jpg") repeat 100% 0% / cover;
}
#forth_slide .logoSeo{
		background: url("image/page4.png") no-repeat center center;
	background-size: contain;
	white-space: nowrap;
    width: 100%;
    height: 250px;
}
 #company_first_slide{
	background: url("image/page_ab_company.jpg") repeat 100% 0% / cover;
}
.page_logo{
	width:75%;
	margin-top:14%;
}
.Page1content{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10%;
}
.slide_text{
	text-transform: uppercase;
	text-align: center;
	color: #FFFFFF;
}
.googleYandex{
	    margin-top: 20px;
    vertical-align: baseline;
}
.google{
	display:inline-block;
	margin-right:10px;
}
.Yandex{
	display:inline-block;
}
.dostizhenia{
	margin-top: 10px;
}
.col-1{
	position:relative;
	padding-left: 40px;
	display:inline-block;
	margin-right: 20px;
}
.col-1:last-child{
	margin-right: 0px;
}
.col-1 .graphik{
	display: inline-block;
}
.col-1 .superMan{
	display: inline-block;
}
.col-1 .lamp{
	display: inline-block;
}
.discription{
	text-transform:uppercase;
	color: #FFFFFF;
	font-size: 12px;
	text-align:left;
	display: inline-block;
}
.strelka{
	float: right;
}
.woman{
	display:block;
	margin-top : 8%;
	margin-left: auto;
	margin-right: auto;
}
/* Basic styling */

.icon-close {
  cursor: pointer;
  padding-right: 5%;
  padding-top: 5%;
  text-align: right;
}
.toggled .icon-menu{
	left: 64px;
	z-index: 10;
}
.icon-menu {
  position: fixed;
  top: 7%;
z-index: 0;
}
.icon-menu .bar{
	display: inline-block;
	vertical-align: middle;
	margin-right: 8px;
	cursor: pointer;
}
.icon-menu .menuGreengoLogo{
	display:inline-block;
	vertical-align:	middle;
	
}
.sidebar-wrapper .menuGreengoLogo{
	margin-top:20%;
	margin-bottom: 12%;
}
.well{
		background-color: inherit;
		border:none;
		padding: 0px;
		margin-bottom: 0px;
		-webkit-box-shadow: none;
		}
		
		/* Last doing*/
	.menuBottom .content{
	line-height: 1.6;
	color: #fff;
	margin-left:40%;
	font-size: 14px;
	font-family: Verdana, sans-serif;
	}
	.menuBottom .phoneLogo{
		background: url('image/menu-phone-logo.png') no-repeat center center;
		background-size:contain;
		white-space:nowrap;
		width: 28px;
		height: 28px;
		position: absolute;
		top:30%;
		left: 28%;
	}
	.menuBottom .emailLogo{
		background: url('image/menu-message-logo.png') no-repeat center center;
		background-size:contain;
		white-space:nowrap;
		width: 27px;
		height: 18px;
		position: absolute;
		left: 28%;
	}
	.menuBottom .facebookLogo{
		background: url('image/menu-facebook-logo.png') no-repeat center center;
		background-size:contain;
		white-space:nowrap;
		width: 12px;
		height: 25px;
		display: inline-block;
		margin-right: 10%;
	}
	.menuBottom .vkLogo{
	background: url('image/menu-vk-logo.png') no-repeat center center;
		background-size:contain;
		white-space:nowrap;
		width: 18px;
		height: 23px;
		display: inline-block;
		margin-right: 8%;
	}
	.menuBottom .twLogo{
		background: url('image/menu-twitter-logo.png') no-repeat center center;
		background-size:contain;
		white-space:nowrap;
		width: 25px;
		height: 21px;
		display: inline-block;
	}
	.menuContent {
		box-sizing: border-box;
		min-height: 100%;
		padding-bottom: 90px;
	}
.menuBottom{
  margin-top: 0px;
}
	.social-links{
		margin-top: 8%;
	}